<!doctype html>
<html lang="ko" layout:decorate="layout/basic" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--  Body Wrapper -->
<div class="container-fluid" layout:fragment="content">
    <div class="form-group">
        <label for="title">제목</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="제목" disabled
               th:value="${view.title}">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">본문</label>
        <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3" disabled
                  th:text="${view.content}"></textarea>
    </div>
    <div class="form-group">
        <label for="fileName">file</label>
        <input class="form-control" name="fileName" id="fileName" rows="3" disabled th:value="${view.fileName}">
    </div>
    <a th:href="@{${view.getFilePath() == null ? null: view.getFilePath()}}" class="btn btn-primary m-1">fileView</a>
    <a th:href="@{/noticeEdit/{id}(id=${view.id})}" class="btn btn-primary m-1">edit</a>
    <a th:href="@{/noticeDelete/{id}(id=${view.id})}" class="btn btn-danger m-1">withdraw</a>
    <input type="button" class="btn btn-light-danger m-1" value="cancel" onclick="history.back()">
    <script>
    </script>
</div>
</html>