<!doctype html>
<html lang="ko" layout:decorate="layout/basic" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="../css1/board_css.css">
</head>
<!--  Body Wrapper -->
<div class="container-fluid" layout:fragment="content">
    <div class="board_wrap">
        <div class="board_title">
            <strong>공지사항 게시판</strong>
            <div th:if="${session.user != null}">
                <h5 th:text="#{home.welcomeNameDate(${session.user.name}, ${date})}">인사말</h5>
            </div>
        </div>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num">Number</div>
                    <div class="title">Title</div>
                    <div class="writer">Name</div>
                    <div class="userid">userId</div>
                    <!--
                    <div class="date">작성일</div>
                    <div class="count">조회</div> -->
                </div>
                <div th:each="noticelist:${notice}">
                    <div class="num" th:text="${noticelist.id}">5</div>
                    <div class="title">
                        <a th:text="${noticelist.title}" th:href="@{/noticeView/{id}(id=${noticelist.id})}"></a>
                    </div>
                    <div class="writer" th:text="${noticelist.userName}">정인범</div>
                    <div class="userid" th:text="${noticelist.userId}">1</div>
                    <!--
                    <div class="date">2023.08.11</div>
                    <div class="count">20</div>
                    -->
                </div>
            </div>
            <div class="board_page">
                <a class="bt first" th:if="${currentPage > 1 }" th:href="@{/noticeList/{curPage}(curPage=1)}" aria-label="Last Previous">
                        <span aria-hidden="true"><<</span>
                </a>
                <a class="bt prev" th:if="${currentPage > 1 }" th:href="@{/noticeList/{curPage}(curPage=${currentPage - 1})}" aria-label="Before Previous">
                        <span aria-hidden="true"><</span>
                </a>
                <!--
                class="num" th:classappend="${pageNumber + 1 == currentPage ? 'on' : ''}"
                th:classappend는 현재 페이지가 pageNumber + 1 == currentPage 같다면 class="num"에 on추가 해라
                그러면 class="num on"이 되고 board_style.css에서 .board_page a.num.on 의해 클릭한 숫자의 배경이
                검은색이 된다.
                -->
                <a class="num" th:classappend="${pageNumber + 1 == currentPage ? 'on' : ''}"
                   th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}"
                       th:href="@{/noticeList/{curPage}(curPage=${pageNumber + 1})}"
                       th:text="${pageNumber + 1}">
                </a>
                <a class="bt" th:if="${currentPage != totalPages}" th:href="@{/noticeList/{curPage}(curPage=${currentPage+1})}" aria-label="Next Page">
                        <span aria-hidden="true">></span>
                </a>
                <a class="bt" th:if="${currentPage != totalPages}" th:href="@{/noticeList/{curPage}(curPage=${totalPages})}" aria-label="Last Page">
                        <span aria-hidden="true">>></span>
                </a>
            </div>
            <div class="bt_wrap">
                <a href="/noticeWrite" class="on" th:if="${session.user != null}">등록</a>
                <!--<a href="#">수정</a>-->
            </div>
        </div>
    </div>
    <script>
    </script>
</div>
</html>